.error-indicator {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: #d0700c;
}
.error-indicator .boom {
    font-size: 26px;
    text-transform: uppercase;
}